body {
    height: 100vh;
}

#main_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#workbench_container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}


#requirements_list_container {
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.requirements_ready, .requirements_not_ready {
    border-radius: var(--border_radius);
    padding: 0.5em 1em;
    margin: 1em 0.5em;
}

.requirements_ready {
    background-color: #d5e8d4;

    border:2px solid #82b366;
}

.requirements_not_ready {
    background-color: #f8cecc;
    border:2px solid #b85450;
}

#capture_workbench {
    width: 100%;

    flex-grow: 1;
    
    
    display: flex;
    flex-direction: row;

}

#capture_parameter_list {
    flex-grow: 25;
    
}

.capture_paramter_item {

    text-align: center;
    margin: 2em 1em ;
    padding: 0.5em;

    border: 2px solid lightgray;
    border-radius: var(--border_radius);

    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.capture_paramter_item input {
    border-radius: var(--border_radius);
    border: 0.2px solid lightgray;      
}

.capture_parameter_label {
    min-width: 30px;
    max-width: 100px;
    width: 8em;

    min-height: 30px;
    max-height: 100px;
    height: 2em;
    
    margin: 0.2em 0.5em;
    
    display: flex;
    align-items: center;

}

.capture_parameter_input {
    padding-left: 1em;
}

.capture_parameter_unit_label {
    width: 0px;
    position: relative; 
    left: -2em;
    top: -0.2em;
}


.separator {
    flex-grow: 0.1;

    width: 2px;
    border-radius: 4px;
    background-color: lightgray;

    border: 1px solid lightgray;
}

#capture_console {
    flex-grow: 49.8;
    display: flex;
    flex-direction: column-reverse;

    max-height: 75vh;

    margin: 1em;
    padding: 1em;

    background-color: #232627;
    overflow: scroll;
    overflow-y: auto;
}

.cli_line {
    color: #fcfcfc;
    font-family: "Noto Sans Mono", monospace;
    
}

#capture_button {
    margin: 1em;
    padding: 1em;
    height: 3em;
    text-align: center;
    
    background-color: #d5e8d4;
    border:2px solid #82b366;
    border-radius: var(--border_radius);

    /* linear-gradient(90deg, rgba(213,232,212,1) 0%, rgba(213,232,212,1) 48%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%); */

    cursor: not-allowed;
    user-select: none;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    flex-grow: 1;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #82b366;
    cursor: pointer;

    border-radius: var(--border_radius);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #82b366;
    cursor: pointer;
}